.country-item {
  width: 305px;
  height: 169px;
}
.country-text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.list {
  padding-left: 20px;
}

.country-languages {
  list-style: disc;
}
.country-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  row-gap: 5px;
  justify-content: center;
}
.country-item--wrap {
  display: flex;
  column-gap: 10px;
  width: 100%;
}
.country-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
